.container_vid {
    margin: auto;
    position: relative;
    width: 60%; /* Matches the width of the textarea */
    margin-top: 20px; /* Space between textarea and bar */
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    height: 40px;
    margin-top: 40px;
}

.container_io{
    margin: auto;
    width: 60%;
    margin-top: 30px;
}

.vid_button_container{
    display: flex;
    justify-content: center; /* Center the buttons */
    align-items: center;
    position: relative;
    width: 100%; /* Full width to align the image on the right */
}

.fill-bar {
    height: 100%;
    background-color: #76c7c0;
    width: 50%; /* Initial width set to 0% */
    text-align: left;
    line-height: 40px;
    color: white;
    font-weight: bold;
    padding-left: 10px; /* Padding to create space for text */
    transition: width 0.5s ease-in-out;
    white-space: nowrap;
}

.remaining-bar {
    position: absolute;
    top: 0;
    right: 10px;
    line-height: 40px;
    color: black;
    font-weight: bold;
}

textarea {
    align-items: center;
    margin-top: 15px; /* Adjust to position the textarea */
    width: 100%; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    border-radius: 10px;
    box-sizing: border-box; /* Ensures padding doesn't affect the width */
    border-color: blue;
}

.buttons{
    color: white;
    background-color: rgb(150, 53, 240);
    border: none;
    border-radius: 15px;
    font-size: 25px;
    cursor: pointer;
    display: inline-block;
}

.buttons:hover{
    background-color: rgb(100, 31, 163);
}

#btn_classify{
    margin-left: 20px;
    margin-right: 40px;
    padding: 10px 25px;
}

#vid_btn_clear{
    background-color: #3e3a38;
    padding: 10px 40px;
}

#vid_btn_clear:hover{
    background-color: rgb(25, 1, 1);
}

#vid_io.drag-over {
    border: 2.5px solid blue;
    border-radius: 10px;
}

#vid_io:focus{
    outline: none;
}

@media (max-width: 850px){
    .vid_button_container{
        top: 90px;
    }

    #background{
        top: 650px;
    }

    .footer_container{
        position: relative;
        top:450px;
    }
}