.book_container {
    display: flex;
    justify-content: space-between;
    width: 75%;
    column-gap: 120px;
    position: relative;
    top: 190px;
    margin: 0 auto;
}

.box {
    width: 45%;
    padding: 20px;
    text-align: center;
}

footer {
    position: relative;
    top: 350px;
}

.info-container {
    text-align: center;
    padding: 20px;
    width: 90%;
}

.info-container h1 {
    font-size: 2rem;
    color: #7c7cd5;
    margin-bottom: 15px;
}

.info-container p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.6;
    font-weight: bolder;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.info-button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background: #7c7cd5;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.info-button:hover {
    background: #5c5cad;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* From Uiverse.io by eslam-hany */
.book {
    position: relative;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 3px #a4a4a4;
    box-shadow: 1px 1px 12px #a8a8a8;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
    padding: 0px 20px;
}

.button-container {
    display: flex;
    gap: 15px;
}

.github_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    text-decoration: none;
}

.github_button .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
}

.github_button svg path {
    transition: 400ms;
}

.github_button:hover {
    background-color: transparent;
}

.github_button:hover .text {
    color: #181717;
}

.github_button:hover svg path {
    fill: #181717;
}

.info_title{
    font-family:Nunito, sans-serif;
    position: relative;
    top:100px;
    font-size: 60px;
    margin: 20px 0px 0px 0px;
    border-bottom: 2px solid blue; 
    color: blue;
    display: inline-block;
    padding: 20px 0px;
}